*{
  margin: 0px;
}    


header{
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.5);
  margin: 0px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: rgba(24, 24, 24, 0.87);
}

header img{
  text-align: center;
  width: 25px;
  padding: 5px;
}

header a:hover{
  background-color: transparent;
  transition: 0.5s;
  
}

header img:hover{
  background-color: rgb(208, 208, 208);
  border-radius: 30px;
  transition: 0.5s;
  
}

h2{
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin: 5px;
}

input{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
 
}  
body {
  position: relative;
  background-image: url('../img/teste.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.above{
  margin: 20px;
 
}  



h1{

  color: rgba(0, 0, 0, 0.5);
}

a { color: #2b6cb0; text-decoration: none; }

.grid { display: flex; flex-wrap: wrap; gap: 10px; }

.items{
  justify-content: center;
  display:flex;
  gap:12px;
  border-radius: 5px;
  padding: 25px;

  background-image: url('../img/bg1.jpg');
  background-size: cover;       /* Faz a imagem cobrir toda a área */
  background-position: center;  /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
}  

.card {
  background: rgba(255, 255, 255, 0.932);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100px;
  border-radius: 75px;
  filter: drop-shadow(0px 0px 10px black);
}  

.card img{
    width: 100px;
}     




.recentes1{
  background-color: rgba(0, 0, 0, 0);
  padding: 1px;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  background-image: url('../img/bg1.jpg');
  background-size: cover;       /* Faz a imagem cobrir toda a área */
  background-position: center;  /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
}

.recentes2{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}

select{
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
}  

a:hover{
 
  background-color: rgb(54, 54, 54);
  transition: 0.5s;
  filter: drop-shadow(0px 0px 20px rgb(167, 167, 167));
  color: rgba(45, 130, 222)
}  
button{
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
}  

button:hover{
  background-color: rgb(208, 208, 208);
  transition: 0.5s;
}  

a{
  padding: 5px;
  color: rgb(43, 61, 226);
}  





