*{
  margin: 0px;
}    


header{
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.5);
  margin: 0px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: rgba(24, 24, 24, 0.87);
}

header img{
  text-align: center;
  width: 40px;
  padding: 5px;
}

header a:hover{
  background-color: transparent;
  transition: 0.5s;
  
}

input{
  padding: 20px;
  border-radius: 10px;
}

.search{
  padding: 20px;
  border-radius: 10px;
}

.logo h1{
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-weight:500;
  background-color: rgb(7, 7, 7);
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
}

h2{
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin: 5px;
}

input{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  
}  
body {
  position: relative;
  background-image: url('../img/teste.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.above{
  margin: 20px;
 
}  



h1{

  color: rgba(0, 0, 0, 0.5);
}

a { color: white; text-decoration: none; }

.grid { display: flex; flex-wrap: wrap; gap: 10px; }

.items{
  justify-content: center;
  display:flex;
  gap:12px;
  border-radius: 5px;
  padding: 25px;

  background-image: url('../img/bg1.jpg');
  background-size: cover;       /* Faz a imagem cobrir toda a área */
  background-position: center;  /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
}  

.card {
  background: rgba(255, 255, 255, 0.932);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: auto;
  border-radius: 75px;
  filter: drop-shadow(0px 0px 10px black);
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
}  

.card img{
    width: 100px;
}     

.imgprod{
  background-color: rgba(95, 95, 95, 0.842);
  width: 100px;
  height: 100px;
  
}


.recentes1{
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  height: auto;
  background-image: url('../img/bg1.jpg');
  background-size: cover;       /* Faz a imagem cobrir toda a área */
  background-position: center;  /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */

}

.recentes2{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}

.divisa{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.add{
  color: black;
  border-radius: 40px;
  margin: 10px;
  border: none;
}

select{
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
}  

a:hover{
 
  
  transition: 0.5s;
  filter: drop-shadow(0px 0px 20px rgb(167, 167, 167));
  color: rgb(218, 218, 218)
} 

.wish:hover{
  transition: 0.5s;
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
}

button{
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
}  


a{
  padding: 5px;
  color: rgb(255, 255, 255);
} 

.acard{
  color: black;
}

acard:hover{
  color: rgb(0, 0, 0);
}


p{
  color: rgb(0, 0, 0);
}

